.errorContainer {
  margin: 16px 0px;
  padding: 12px;
  background-color: var(--error-bg-color);
  border: 1px solid var(--error-border-color);
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorText {
  font-size: 14px;
  color: var(--red);
  margin: 0;
}

.closeButton {
  color: var(--red);
  cursor: pointer;
  width: 16px;
  height: 16px;
}
