.errorContainer {
  margin-top: 16px;
  padding: 12px;
  background-color: #fee2e2;
  border: 1px solid #fecaca;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorText {
  font-size: 14px;
  color: #b91c1c;
  margin: 0;
}

.closeButton {
  color: #b91c1c;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
