.container {
  padding: 16px;
}

.pageButton {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.8;
  transition: opacity 0.5s ease-out;

  svg {
    width: 18px;
    height: 18px;
  }
}

.pageButton:hover {
  opacity: 1;
}
