.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.5;

  a {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
  }
}
